<div class="container mt-5 x">    <!-- mt-4 stand for top margin from o-5 value -->
    <h1>Automobile superegories </h1>
</div>
    <div class="container mt-4">
        <div class="card-deck">
          <!-- scooty card start-->
          <a href="{% url "scootysuperegories" %}" class = "card-img-href" style="text-decoration: none; ">
            <div class="card ml-5 mt-5 mb-5" style="width: 18rem;">
                <img class="card-img-top" src="static/core/images/scooty/card_scooty.jpg" alt="Card image cap">
                <div class="card-body" style= "">
                  <p class="card-text">scootys are loyal, domestisupered mammals known for companionship.</p>
                </div>
              </div>
            </a>
          <!-- scooty card End-->
      
          <!-- super card start-->

          <a href="{% url "supersuperegories" %}" class = "card-img-href" style="text-decoration: none; ">
              <div class="card ml-5 mt-5" style="width: 18rem;">
                <img class="card-img-top" src="static/core/images/super/super_card.jpg" alt="Card image cap">
                <div class="card-body">
                  <p class="card-text"> supers are cherished companions known for their independence, agility, and affectionate behavior.</p>
                </div>
              </div>
          </a>
          <!-- super card End-->
            
          <!-- bike card start-->
          <a href="{% url "bikesuperegories" %}" class = "card-img-href" style="text-decoration: none; ">
              <div class="card ml-5 mt-5 mr-5" style="width: 18rem;">
                <img class="card-img-top" src="static/core/images/bike/bike_card.jpg" alt="Card image cap">
                <div class="card-body">
                  <p class="card-text"> bikes are a highly diverse with remarkable adaptations for various environments.</p>
                </div>
              </div>
          </a>
          <!-- bike card End-->
          
        </div>
    </div>
