{% extends "core/base.html" %}

{% load static %}
{% block title %}scooty superegories{% endblock title %}

{% block content %}

<!-- scooty Card-->
<div class="container ">                         <!-- we have created new container class-->
    <div class="row">                           <!-- we have created row class-->
        {% for dc in scooty_superegory %}
        <div class="col-sm-4 ">
          <a href="{% url "Automobiledetails" dc.id %}" style="text-decoration: none; ">        
            <div class="card scooty_superegories_card scooty_card" style="width: 18rem; height:20rem">
                <img class="card-img-top " src="{{dc.Automobile_image.url}}" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">{{dc.name}}</h5>
                   <div class="text-center">
                        <h5 class="font-weight-bold text-dark "><i class="fa-solid fa-indian-rupee-sign"></i>{{dc.discounted_price}} <small class="fw-light rupee"> {{dc.selling_price}}</small> <small class="text-danger">(% off)</small></h5>  
                    </div>
                </div>
            </div>
          </a>
        </div>       
        {% endfor %}
    </div>
</div>
<!--  End scooty Card-->


{% endblock content %}